@import './reset';
@import './colors';
@import './mixins';

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 1.8rem;
	height: 100vh;
	background-image: linear-gradient(180deg, var(--gradient-first) 0%, var(--gradient-second) 30%);
}

.switch {
	position: absolute;
	top: 20px;
	right: 20px;
	height: 25px;
	width: 50px;
	background-color: var(--bg-color);
	border-radius: 50px;
	box-shadow: 2px 2px 7px rgba(27, 27, 27, 0.336);
	cursor: pointer;

	&-inside {
		position: absolute;
		top: 2.5px;
		left: 4px;
		background-color: var(--second-color);
		border-radius: 50%;
		border: 3px solid rgba(255, 255, 255, 0.25);
		height: 20px;
		width: 20px;
		transition: 0.3s;
	}
}

.switch-active {
	left: calc(100% - 24px);
}

.container {
	width: clamp(300px, 100%, 600px);
	margin: 1em 1.5em;
	background-color: var(--bg-color);
	box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.55);

	&__error {
		color: rgb(255, 24, 24);
		text-align: center;
		font-size: 1.6rem;
		font-weight: 700;
		z-index: 1;
		height: 20px;
	}

	&__header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		padding: 4em 1em;
		background-image: url('../../dist/img/day.jpg');
		background-size: cover;
		background-position: center;

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 0;
		}
	}

	&__city {
		font-size: 3.4rem;
		color: var(--main-color);
		z-index: 1;
		margin-bottom: 1em;
		text-align: center;
	}

	&__status {
		display: grid;
		grid-template-columns: 1fr 3px 1fr;
		width: 100%;
		z-index: 1;
		margin-bottom: 3em;

		&-img {
			width: 110px;
			justify-self: center;
			align-self: center;
		}

		&-line {
			margin: 0 auto;
			height: 100%;
			width: 3px;
			background-color: var(--second-color);
		}

		&-deg {
			justify-self: center;
			align-self: center;
			padding: 0.6em;
			font-size: 3.4rem;
			color: var(--main-color);
		}
	}

	&__search {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 1;

		&-input {
			text-align: center;
			padding: 0.6em 0.2em;
			color: var(--input-color);
			background: var(--bg-color);
			border: 3px solid transparent;
			font-size: 1.6rem;
			border-radius: 14px;
			z-index: 1;
			transition: border 0.2s;
			margin-top: 1em;

			&:focus,
			&:hover {
				outline: none;
				border: 3px solid var(--second-color);
			}
		}

		&-btn {
			position: relative;
			font-size: 1.4rem;
			text-transform: uppercase;
			letter-spacing: 1px;
			padding: 0.7em 1.4em;
			width: 70%;
			font-weight: 700;
			color: var(--main-color);
			background: var(--second-color);
			border: none;
			border-radius: 14px;
			box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
			cursor: pointer;
			overflow: hidden;
			z-index: 0;
			margin-top: 1.4em;

			span {
				z-index: 10;
			}

			&::before {
				content: '';
				position: absolute;
				top: -50%;
				left: -10%;
				width: 120%;
				height: 200%;
				background-color: var(--btn-hover);
				transform: translateX(-130%) rotate(13deg);
				z-index: -1;
				transition: transform 0.4s;
			}

			&:focus {
				outline: none;
			}

			&:focus::before {
				transform: translateX(0) rotate(13deg);
			}

			&:hover::before {
				transform: translateX(0) rotate(13deg);
			}
		}
	}

	&__main {
		position: relative;
		display: none;
		grid-template-columns: 1fr 1fr;
		gap: 1.6em;
		padding: 3em 1em;

		&::before {
			position: absolute;
			top: 7%;
			left: calc(50% - 2px);
			content: '';
			height: 86%;
			width: 4px;
			background-color: var(--second-color);
			border: 3px solid rgba(255, 255, 255, 0.25);
		}
	}

	&__info {
		position: relative;
		text-align: center;
		padding: 0.4em;
		color: var(--input-color);

		&-head {
			margin-bottom: 0.3em;
			font-size: 1.7rem;
		}

		&-body {
			font-size: 1.7rem;
		}
	}

	&__info:nth-child(odd) {
		grid-column: 1/2;
		top: -20px;

		&::before {
			position: absolute;
			top: 45%;
			right: 2px;
			content: '';
			height: 2px;
			width: 30px;
			background-color: var(--second-color);
			border: 0.3px solid rgba(255, 255, 255, 0.25);
		}
	}

	&__info:nth-child(even) {
		grid-column: 2/3;
		bottom: -20px;

		&::before {
			position: absolute;
			top: 45%;
			left: 2px;
			content: '';
			height: 2px;
			width: 30px;
			background-color: var(--second-color);
			border: 0.2px solid rgba(255, 255, 255, 0.25);
		}
	}
}
